<!-- Start Signup Area -->
<section class="signup-area">
  <div class="row m-0">
    <div class="col-lg-6 col-md-12 p-0">
      <div class="signup-content">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="signup-form">
              <app-card [hidHeader]="true" cardClass="text-center">
                <h5 class="card-title">Change Password</h5>
                <p class="card-text">You must change your password now and login again.</p>
                <form [formGroup]="changePasswordForm">
                  <div class="form-group">
                    <label class="float-left" for="inputEmail4">New Password</label>
                    <input type="password" id="newPassword" placeholder="New Password"
                      class="form-control" formControlName="CreatePassword">
                      <div
                    *ngIf="(changePasswordForm.controls['CreatePassword'].invalid && changePasswordForm.controls['CreatePassword'].touched) || changePasswordForm.controls['CreatePassword'].dirty"
                    class="text-left">
                    <small *ngIf="changePasswordForm.controls['CreatePassword'].errors?.required" class="text-danger">New Password
                      is
                      required!</small>
                    <small *ngIf="changePasswordForm.controls['CreatePassword'].errors?.pattern" class="text-danger">Your
                      password should be atleast 8 charcters long and must
                      contain atleast one alphabet letter, one number, and one special character!</small>
                  </div>
                  </div>
                  <div class="form-group">
                    <label class="float-left" for="inputEmail4">Confirm Password</label>
                    <input type="password" id="confirmPassword" placeholder="Confirm Password"
                      class="form-control" formControlName="ConfirmPassword">
                      <div
                      *ngIf="(changePasswordForm.controls['ConfirmPassword'].invalid && changePasswordForm.controls['ConfirmPassword'].touched) || changePasswordForm.controls['ConfirmPassword'].dirty"
                      class="text-left">
                      <small *ngIf="changePasswordForm.controls['ConfirmPassword'].errors?.required" class="text-danger">Confirm Password
                        is
                        required!</small>
                        <small *ngIf="changePasswordForm.controls['ConfirmPassword'].errors?.confirmedValidator" class="text-danger">Password and Confirm
                          Password must match!</small>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary" (click)="changePassword()" [disabled]="!changePasswordForm.valid">Confirm</button>
                </form>
              </app-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 p-0">
      <div class="signup-image">
        <img src="assets/images/auth/image.png" alt="image">
        <div class="signup-content">
          <div class="d-table">
            <div class="d-table-cell">
             <h3 class="text-white pl-4 pr-4">
              Lorem ipsum dolor sit amet,  dolor.
              Qum sociis natoque penatibus et ma gnis dis parturient montes
             </h3>
             <div class="mt-4 pl-4 col-md-3"><ngb-progressbar type="success" height="6px" [value]="100"></ngb-progressbar></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Login Area -->
