<div class="row">
    <div class="col-sm-12">
      <app-card [hidHeader]="true" [options]="false">
        <h5 class="">Edit profile</h5>
        <hr>
  
        <form [formGroup]="editProfileForm">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Full Name</label>
                <input type="text" formControlName="FullName" class="form-control" aria-describedby="emailHelp">
                <div
                *ngIf="(editProfileForm.controls['FullName'].invalid && editProfileForm.controls['FullName'].touched) || editProfileForm.controls['FullName'].dirty"
                class="text-left">
                <small *ngIf="editProfileForm.controls['FullName'].errors?.required" class="text-danger">Name
                  is
                  required!</small>
              </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Father Name</label>
                <input type="text" formControlName="FatherName" class="form-control" aria-describedby="emailHelp">
                <div
                  *ngIf="(editProfileForm.controls['FatherName'].invalid && editProfileForm.controls['FatherName'].touched) || editProfileForm.controls['FatherName'].dirty"
                  class="text-left">
                  <small *ngIf="editProfileForm.controls['FatherName'].errors?.required" class="text-danger">Father Name
                    is
                    required!
                  </small>
                </div>
              </div>
              <!-- <div class=" row">
                <div class="form-group col-md-12 ">
                  <label>DOB</label>
                  <input formControlName="DOB" type="date" class="form-control" placeholder=" ">
                </div>
              </div> -->
              <div class="form-group mt-4">
                <label>CNIC</label>
                <input type="number" formControlName="CNICNo" class="form-control" placeholder="" maxlength="13" minlength="13">
                <div
                  *ngIf="(editProfileForm.controls['CNICNo'].invalid && editProfileForm.controls['CNICNo'].touched) || editProfileForm.controls['CNICNo'].dirty"
                  class="text-left">
                  <small *ngIf="editProfileForm.controls['CNICNo'].errors?.required" class="text-danger">CNIC 
                    is
                    required!
                  </small>
                   <!--question mark(?) is a safe navigation operator-->
                  <small *ngIf="editProfileForm.controls['CNICNo'].errors?.pattern" class="text-danger">CNIC
                    should be of 13
                    Digits
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Email (User ID)</label>
                <input type="email" formControlName="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="" >
  
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Address</label>
                <textarea formControlName="Address" class="form-control" id="exampleFormControlTextarea1" rows="5" maxlength="250"></textarea>
                <div
                  *ngIf="(editProfileForm.controls['Address'].invalid && editProfileForm.controls['Address'].touched) || editProfileForm.controls['Address'].dirty"
                  class="text-left">
                  <small *ngIf="editProfileForm.controls['Address'].errors?.required" class="text-danger">Address 
                    is
                    required!
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Password</label>
                <input type="password" disabled  class="form-control" id="" aria-describedby="emailHelp"
                  placeholder="******">
              </div>
              <div class="form-group">
                <label>Phone Number</label>
                <input formControlName="PhoneNo" type="number" class="form-control" placeholder=" " maxlength="10" minlength="10">
  
              </div>
              <div class="form-group">
                <label>Mobile Number</label>
                <input formControlName="MobileNo" type="number" class="form-control" placeholder=" ">
                <div
                  *ngIf="(editProfileForm.controls['MobileNo'].invalid && editProfileForm.controls['MobileNo'].touched) || editProfileForm.controls['MobileNo'].dirty"
                  class="text-left">
                  <small *ngIf="editProfileForm.controls['MobileNo'].errors?.required" class="text-danger">Mobile Number
                    is
                    required!
                  </small>
                  <small *ngIf="editProfileForm.controls['MobileNo'].errors?.pattern" class="text-danger">Mobile
                    Number should consist 11 digits!</small>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <button type="submit" class="btn btn-primary float-right" (click)="updateProfile()">Save Changes</button>
          <button type="submit" class="btn btn-primary float-right mr-2" [routerLink]="['/owner/owner-profile']">CANCEL</button>
        </form>
  
      </app-card>
    </div>
  
  </div>