/* my-loader.component.css */
.loading-spinner{
  background-color: #0000003f;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  display: grid;
}

.loading-spinner img{
  align-self: end;
}

.loading-message{
  text-align: center;
  align-self: start;
}
