<!-- my-loader.component.html -->
<div class="progress-loader" [hidden]="!loading">
  <div class="loading-spinner">
    <div class="spinner-border" style="width: 4rem; height: 4rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
