<div class="row">
    <div class="col-sm-12">
      <app-card [hidHeader]="true" [options]="false">
        <h5 >Edit Restaurant</h5>
        <hr>
        <form [formGroup]="restaurantForm">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputEmail4">Restaurant Name</label>
              <input type="text" class="form-control" id="inputEmail4" placeholder="Name of Restaurant"
                formControlName="RestaurantName" maxlength="70">
              <div
                *ngIf="(restaurantForm.controls['RestaurantName'].invalid && restaurantForm.controls['RestaurantName'].touched) || restaurantForm.controls['RestaurantName'].dirty"
                class="text-left">
                <small *ngIf="restaurantForm.controls['RestaurantName'].errors?.required" class="text-danger">Name of
                  Restaurant
                  is
                  required!</small>
                <small *ngIf="restaurantForm.controls['RestaurantName'].errors?.pattern" class="text-danger">Name
                  should be greater than 3 alphabets!</small>
              </div>
            </div>
  
            <div class="form-group col-md-4">
              <label for="inputEmail4">KNTN</label>
              <input type="number" class="form-control" id="inputEmail4" placeholder="KNTN Number" formControlName="NTN"
                max="9">
              <div
                *ngIf="(restaurantForm.controls['NTN'].invalid && restaurantForm.controls['NTN'].touched) || restaurantForm.controls['NTN'].dirty"
                class="text-left">
                <small *ngIf="restaurantForm.controls['NTN'].errors?.required" class="text-danger">KNTN Number
                  is
                  required!</small>
                <small *ngIf="restaurantForm.controls['NTN'].errors?.pattern" class="text-danger">KNTN number should
                  contain 9 digits!</small>
              </div>
            </div>
           
            <div class="form-group col-md-4">
              <label>Restaurant Category</label>
              <select id="country" class="form-control" formControlName="RestaurantCategoryInfo"
                aria-placeholder="select any one">
                <option value="">Select the Category</option>
                <option *ngFor="let category of allCategories" [value]="category.CategoryID"
                  >
                  {{category.CategoryName}}
                </option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label>Restaurant Verified</label>
              <select disabled id="country" class="form-control" formControlName="RestaurantVerified">
                <option value="">Select any one</option>
                <option [value]=false >No</option>
                <option [value]=true >Yes</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="inputEmail4">Service Charges</label>
              <input type="number" class="form-control" id="inputEmail4" placeholder="Service Charges"
                formControlName="ServiceCharges" max="9">
              <div
                *ngIf="(restaurantForm.controls['ServiceCharges'].invalid && restaurantForm.controls['ServiceCharges'].touched) || restaurantForm.controls['ServiceCharges'].dirty"
                class="text-left">
                <small *ngIf="restaurantForm.controls['ServiceCharges'].errors?.required" class="text-danger">Service
                  Charges
                  is
                  required!</small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group" >
                  <label>City</label>
                  <ng-multiselect-dropdown [placeholder]="'Select city'"
                      [settings]="dropdownSettings" [data]="allCities" formControlName="CityName"
                      name="CityName" >
                  </ng-multiselect-dropdown>
                  <div *ngIf="(restaurantForm.controls['CityName'].invalid && restaurantForm.controls['CityName'].touched) || restaurantForm.controls['CityName'].dirty"
                      class="text-left">
                      <small *ngIf="restaurantForm.controls['CityName'].errors?.required"
                          class="text-danger">City
                          is
                          required!</small>
                  </div>
              </div>
          </div>
            <div class="form-group col-md-4">
              <label>Upload image</label>
              <input type="file" #Image accept="image/*" 
                (change)="handleFileInput($event.target.files); Uploadimage();"
                [class.is-invalid]="restaurantForm.controls['AttachImage'].invalid && restaurantForm.controls['AttachImage'].touched"
                >
                <img  [src]='imageUrl' height="200px" width="200px">
              <div
                *ngIf="(restaurantForm.controls['AttachImage'].invalid && restaurantForm.controls['AttachImage'].touched) || restaurantForm.controls['AttachImage'].dirty"
                class="text-left">
                <small *ngIf="restaurantForm.controls['AttachImage'].errors?.required" class="text-danger">Please
                  upload the
                  image</small>
              
              </div>
            </div>
            <div class="form-group col-md-8">
              <label for="inputAddress">Address</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="1234 Main St"
                formControlName="Address" maxlength="250"></textarea>
              <div
                *ngIf="(restaurantForm.controls['Address'].invalid && restaurantForm.controls['Address'].touched) || restaurantForm.controls['Address'].dirty"
                class="text-left">
                <small *ngIf="restaurantForm.controls['Address'].errors?.required" class="text-danger">Address is
                  required!</small>
               
              </div>
            </div>
            <div class="form-group col-md-12">
              <h6>Optional</h6>
              <hr>
            </div>
            <div class="form-group col-md-4">
              <button type="button" class="btn btn-secondary" (click)="myLargeModalLabelDelivery.show()" style="margin-bottom: 5px;">Add
                Delivery</button>
              <div *ngIf="deliveryArr.DeliveryTime">
                <div class="table-responsive">
                  <table datatable="" class="table table-striped row-border table-hover dataTable" id="DataTables_Table_0"
                    role="grid" aria-describedby="DataTables_Table_0_info">
                    <thead>
                      <tr>
                        <th>Delivery Minutes</th>
                        <th style="text-align: right;">Charges (Rs.)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr role="row" class="even">
                        <td class="sorting_1">
                          <div class="d-inline-block">
                            <h6 class="m-b-0">{{deliveryArr.DeliveryTime}}</h6>
                          </div>
                        </td>
                        <td style="text-align: right;">
                          <div class="overlay-edit">
                            <span class="text-right">{{deliveryArr.DeliveryCharges | number}}</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <button type="button" class="btn btn-secondary" (click)="myLargeModalLabelDiscount.show()" style="margin-bottom: 5px;">Add
                Discount</button>
               <div *ngIf="discountsArr.length > 0">
                <div class="table-responsive">
                  <table datatable="" class="table table-striped row-border table-hover dataTable" id="DataTables_Table_0"
                    role="grid" aria-describedby="DataTables_Table_0_info">
                    <thead>
                      <tr>
                        <th>DISCOUNT Name</th>
                        <th style="text-align: right;">DISCOUNT %</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr role="row" class="even" *ngFor="let eachDiscount of discountsArr">
                        <td class="sorting_1">
                          <div class="d-inline-block">
                            <div class="d-inline-block">
                              <h6 class="m-b-0">{{eachDiscount.DiscountName}}</h6>
                            </div>
                          </div>
                        </td>
                        <td style="text-align: right;">
                          <div class="overlay-edit">
                            <span class="text-right">{{eachDiscount.DiscountPercentage}}</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <button type="button" class="btn btn-secondary" (click)="myLargeModalLabelTimings.show()" style="margin-bottom: 5px;">Add
                Timings</button>
              <div *ngIf="timingArr.length">
                <div class="table-responsive">
                  <table datatable="" class="table table-striped row-border table-hover dataTable" id="DataTables_Table_0"
                    role="grid" aria-describedby="DataTables_Table_0_info">
                    <thead>
                      <tr>
                        <th>Days</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr role="row" class="even" *ngFor="let eachDay of timingArr">
                        <td class="sorting_1">
                          <div class="d-inline-block">
                            <h6 class="m-b-0">{{eachDay.Day}}</h6>
                          </div>
                        </td>
                        <td class="sorting_1" style="text-align: center;">
                          <div class="d-inline-block">
                            <span class="m-b-0">{{eachDay.StartTime}}</span>
                          </div>
                        </td>
                        <td class="sorting_1" style="text-align: center;">
                          <div class="d-inline-block">
                            <span class="m-b-0">{{eachDay.EndTime}}</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
           
          </div>
         
          <button type="submit" class="btn btn-primary float-right"  (click) = "updateRestaurant()"
            [disabled]="!restaurantForm.valid" >SAVE CHANGES</button>
          <button type="submit" class="btn btn-primary float-right" [routerLink]="['/restaurant/restaurant-list']">CANCEL</button>
        </form>
      </app-card>
    </div>
  
  </div>
  
  <app-ui-modal #myLargeModalLabelDiscount [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
      <h5 class="modal-title">ADD DISCOUNT</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
        (click)="myLargeModalLabelDiscount.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
      <form [formGroup]="discountForm">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="item-name">Discount Name</label>
            <input type="text" class="form-control" id="itemName" contenteditable="true" formControlName="DiscountName"
              maxlength="70"
              [class.is-invalid]="discountForm.controls['DiscountName'].invalid && discountForm.controls['DiscountName'].touched"
              required>
            <div
              *ngIf="(discountForm.controls['DiscountName'].invalid && discountForm.controls['DiscountName'].touched) || discountForm.controls['DiscountName'].dirty"
              class="text-left">
              <small *ngIf="discountForm.controls['DiscountName'].errors?.required" class="text-danger">Discount
                Name is
                required!</small>
              <small *ngIf="discountForm.controls['DiscountName'].errors?.pattern" class="text-danger">Enter
                alphabets only
                and atleast 3!</small>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">Discount %</label>
            <input type="number" maxlength="2" class="form-control" id="itemPrice" formControlName="DiscountPercentage"
              [class.is-invalid]="discountForm.controls['DiscountPercentage'].invalid && discountForm.controls['DiscountPercentage'].touched"
              required>
            <div
              *ngIf="(discountForm.controls['DiscountPercentage'].invalid && discountForm.controls['DiscountPercentage'].touched) || discountForm.controls['DiscountPercentage'].dirty"
              class="text-left">
              <small *ngIf="discountForm.controls['DiscountPercentage'].errors?.required" class="text-danger">Discount
                %
                is required!</small>
              <small *ngIf="discountForm.controls['DiscountPercentage'].errors?.pattern" class="text-danger">Enter
                numbers only!</small>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal"
        (click)="myLargeModalLabelDiscount.hide()">CLOSE</button>
      <button type="button" class="btn btn-primary" [disabled]="!discountForm.valid"
        (click)="discountFormFunc(); myLargeModalLabelDiscount.hide()">ADD</button>
    </div>
  </app-ui-modal>
  
  <app-ui-modal #myLargeModalLabelDelivery [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
      <h5 class="modal-title">ADD DELIVERY</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
        (click)="myLargeModalLabelDelivery.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
      <form [formGroup]="deliveryForm">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="item-name">Minutes</label>
            <input type="number" class="form-control" id="itemName" contenteditable="true" formControlName="DeliveryTime"
              maxlength="70"
              [class.is-invalid]="deliveryForm.controls['DeliveryTime'].invalid && deliveryForm.controls['DeliveryTime'].touched"
              required>
            <div
              *ngIf="(deliveryForm.controls['DeliveryTime'].invalid && deliveryForm.controls['DeliveryTime'].touched) || deliveryForm.controls['DeliveryTime'].dirty"
              class="text-left">
              <small *ngIf="deliveryForm.controls['DeliveryTime'].errors?.required" class="text-danger">Delivery Time
                is
                required!</small>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">Delivery Charges</label>
            <input type="number" maxlength="2" class="form-control" id="itemPrice" formControlName="DeliveryCharges"
              [class.is-invalid]="deliveryForm.controls['DeliveryCharges'].invalid && deliveryForm.controls['DeliveryCharges'].touched"
              required>
            <div
              *ngIf="(deliveryForm.controls['DeliveryCharges'].invalid && deliveryForm.controls['DeliveryCharges'].touched) || deliveryForm.controls['DeliveryCharges'].dirty"
              class="text-left">
              <small *ngIf="deliveryForm.controls['DeliveryCharges'].errors?.required" class="text-danger">Delivery
                Charges
                is required!</small>
              <small *ngIf="deliveryForm.controls['DeliveryCharges'].errors?.pattern" class="text-danger">Enter
                numbers only!</small>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal"
        (click)="myLargeModalLabelDelivery.hide()">CLOSE</button>
      <button type="button" class="btn btn-primary" [disabled]="!deliveryForm.valid"
        (click)="addDeliveryFormFunc(); myLargeModalLabelDelivery.hide()">ADD</button>
    </div>
  </app-ui-modal>
  
  <app-ui-modal #myLargeModalLabelTimings [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
      <h5 class="modal-title">SET TIMINGS</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
        (click)="myLargeModalLabelTimings.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
      <form [formGroup]="timingForm">
        <div class="form-row">
          <label for="item-name" class="form-group col-md-4">Days</label>
          <label for="item-name" class="form-group col-md-4">Opening Time</label>
          <label for="item-name" class="form-group col-md-4">Closing Time</label>
          <hr>
          <div class="form-group col-md-4">
            <input type="text" class="form-control" id="itemName" contenteditable="true" maxlength="70" value="Monday"
              readonly>
          </div>
          <div class="form-group col-md-4">
            <input type="time" class="form-control" id="itemName" contenteditable="true" formControlName="MondayStartTime"
              maxlength="70"
              [class.is-invalid]="timingForm.controls['MondayStartTime'].invalid && timingForm.controls['MondayStartTime'].touched"
              required>
            <div
              *ngIf="(timingForm.controls['MondayStartTime'].invalid && timingForm.controls['MondayStartTime'].touched) || timingForm.controls['MondayStartTime'].dirty"
              class="text-left">
              <small *ngIf="timingForm.controls['MondayStartTime'].errors?.required" class="text-danger">Opening Time
                required!</small>
            </div>
          </div>
          <div class="form-group col-md-4">
            <input type="time" class="form-control" id="itemName" contenteditable="true" formControlName="MondayEndTime"
              maxlength="70"
              [class.is-invalid]="timingForm.controls['MondayEndTime'].invalid && timingForm.controls['MondayEndTime'].touched"
              required>
            <div
              *ngIf="(timingForm.controls['MondayEndTime'].invalid && timingForm.controls['MondayEndTime'].touched) || timingForm.controls['MondayEndTime'].dirty"
              class="text-left">
              <small *ngIf="timingForm.controls['MondayEndTime'].errors?.required" class="text-danger">Closing Time
                required!</small>
            </div>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control" id="itemName" contenteditable="true" maxlength="70" value="Tuesday"
              readonly>
          </div>
          <div class="form-group col-md-4">
            <input type="time" class="form-control" id="itemName" contenteditable="true"
              formControlName="TuesdayStartTime" maxlength="70"
              [class.is-invalid]="timingForm.controls['TuesdayStartTime'].invalid && timingForm.controls['TuesdayStartTime'].touched"
              required>
            <div
              *ngIf="(timingForm.controls['TuesdayStartTime'].invalid && timingForm.controls['TuesdayStartTime'].touched) || timingForm.controls['TuesdayStartTime'].dirty"
              class="text-left">
              <small *ngIf="timingForm.controls['TuesdayStartTime'].errors?.required" class="text-danger">Opening Time
                required!</small>
            </div>
          </div>
          <div class="form-group col-md-4">
            <input type="time" class="form-control" id="itemName" contenteditable="true" formControlName="TuesdayEndTime"
              maxlength="70"
              [class.is-invalid]="timingForm.controls['TuesdayEndTime'].invalid && timingForm.controls['TuesdayEndTime'].touched"
              required>
            <div
              *ngIf="(timingForm.controls['TuesdayEndTime'].invalid && timingForm.controls['TuesdayEndTime'].touched) || timingForm.controls['TuesdayEndTime'].dirty"
              class="text-left">
              <small *ngIf="timingForm.controls['TuesdayEndTime'].errors?.required" class="text-danger">Closing Time
                required!</small>
            </div>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control" id="itemName" contenteditable="true" maxlength="70" value="Wednesday"
              readonly>
          </div>
          <div class="form-group col-md-4">
            <input type="time" class="form-control" id="itemName" contenteditable="true"
              formControlName="WednesdayStartTime" maxlength="70"
              [class.is-invalid]="timingForm.controls['WednesdayStartTime'].invalid && timingForm.controls['WednesdayStartTime'].touched"
              required>
            <div
              *ngIf="(timingForm.controls['WednesdayStartTime'].invalid && timingForm.controls['WednesdayStartTime'].touched) || timingForm.controls['WednesdayStartTime'].dirty"
              class="text-left">
              <small *ngIf="timingForm.controls['WednesdayStartTime'].errors?.required" class="text-danger">Opening
                Time
                required!</small>
            </div>
          </div>
          <div class="form-group col-md-4">
            <input type="time" class="form-control" id="itemName" contenteditable="true"
              formControlName="WednesdayEndTime" maxlength="70"
              [class.is-invalid]="timingForm.controls['WednesdayEndTime'].invalid && timingForm.controls['WednesdayEndTime'].touched"
              required>
            <div
              *ngIf="(timingForm.controls['WednesdayEndTime'].invalid && timingForm.controls['WednesdayEndTime'].touched) || timingForm.controls['WednesdayEndTime'].dirty"
              class="text-left">
              <small *ngIf="timingForm.controls['WednesdayEndTime'].errors?.required" class="text-danger">Closing Time
                required!</small>
            </div>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control" id="itemName" contenteditable="true" maxlength="70" value="Thursday"
              readonly>
          </div>
          <div class="form-group col-md-4">
            <input type="time" class="form-control" id="itemName" contenteditable="true"
              formControlName="ThursdayStartTime" maxlength="70"
              [class.is-invalid]="timingForm.controls['ThursdayStartTime'].invalid && timingForm.controls['ThursdayStartTime'].touched"
              required>
            <div
              *ngIf="(timingForm.controls['ThursdayStartTime'].invalid && timingForm.controls['ThursdayStartTime'].touched) || timingForm.controls['ThursdayStartTime'].dirty"
              class="text-left">
              <small *ngIf="timingForm.controls['ThursdayStartTime'].errors?.required" class="text-danger">Opening Time
                required!</small>
            </div>
          </div>
          <div class="form-group col-md-4">
            <input type="time" class="form-control" id="itemName" contenteditable="true" formControlName="ThursdayEndTime"
              maxlength="70"
              [class.is-invalid]="timingForm.controls['ThursdayEndTime'].invalid && timingForm.controls['ThursdayEndTime'].touched"
              required>
            <div
              *ngIf="(timingForm.controls['ThursdayEndTime'].invalid && timingForm.controls['ThursdayEndTime'].touched) || timingForm.controls['ThursdayEndTime'].dirty"
              class="text-left">
              <small *ngIf="timingForm.controls['ThursdayEndTime'].errors?.required" class="text-danger">Closing Time
                required!</small>
            </div>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control" id="itemName" contenteditable="true" maxlength="70" value="Friday"
              readonly>
          </div>
          <div class="form-group col-md-4">
            <input type="time" class="form-control" id="itemName" contenteditable="true" formControlName="FridayStartTime"
              maxlength="70"
              [class.is-invalid]="timingForm.controls['FridayStartTime'].invalid && timingForm.controls['FridayStartTime'].touched"
              required>
            <div
              *ngIf="(timingForm.controls['FridayStartTime'].invalid && timingForm.controls['FridayStartTime'].touched) || timingForm.controls['FridayStartTime'].dirty"
              class="text-left">
              <small *ngIf="timingForm.controls['FridayStartTime'].errors?.required" class="text-danger">Opening Time
                required!</small>
            </div>
          </div>
          <div class="form-group col-md-4">
            <input type="time" class="form-control" id="itemName" contenteditable="true" formControlName="FridayEndTime"
              maxlength="70"
              [class.is-invalid]="timingForm.controls['FridayEndTime'].invalid && timingForm.controls['FridayEndTime'].touched"
              required>
            <div
              *ngIf="(timingForm.controls['FridayEndTime'].invalid && timingForm.controls['FridayEndTime'].touched) || timingForm.controls['FridayEndTime'].dirty"
              class="text-left">
              <small *ngIf="timingForm.controls['FridayEndTime'].errors?.required" class="text-danger">Closing Time
                required!</small>
            </div>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control" id="itemName" contenteditable="true" maxlength="70" value="Saturday"
              readonly>
          </div>
          <div class="form-group col-md-4">
            <input type="time" class="form-control" id="itemName" contenteditable="true"
              formControlName="SaturdayStartTime" maxlength="70"
              [class.is-invalid]="timingForm.controls['SaturdayStartTime'].invalid && timingForm.controls['SaturdayStartTime'].touched"
              required>
            <div
              *ngIf="(timingForm.controls['SaturdayStartTime'].invalid && timingForm.controls['SaturdayStartTime'].touched) || timingForm.controls['SaturdayStartTime'].dirty"
              class="text-left">
              <small *ngIf="timingForm.controls['SaturdayStartTime'].errors?.required" class="text-danger">Opening Time
                required!</small>
            </div>
          </div>
          <div class="form-group col-md-4">
            <input type="time" class="form-control" id="itemName" contenteditable="true" formControlName="SaturdayEndTime"
              maxlength="70"
              [class.is-invalid]="timingForm.controls['SaturdayEndTime'].invalid && timingForm.controls['SaturdayEndTime'].touched"
              required>
            <div
              *ngIf="(timingForm.controls['SaturdayEndTime'].invalid && timingForm.controls['SaturdayEndTime'].touched) || timingForm.controls['SaturdayEndTime'].dirty"
              class="text-left">
              <small *ngIf="timingForm.controls['SaturdayEndTime'].errors?.required" class="text-danger">Closing Time
                required!</small>
            </div>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control" id="itemName" contenteditable="true" maxlength="70" value="Sunday"
              readonly>
          </div>
          <div class="form-group col-md-4">
            <input type="time" class="form-control" id="itemName" contenteditable="true" formControlName="SundayStartTime"
              maxlength="70"
              [class.is-invalid]="timingForm.controls['SundayStartTime'].invalid && timingForm.controls['SundayStartTime'].touched"
              required>
            <div
              *ngIf="(timingForm.controls['SundayStartTime'].invalid && timingForm.controls['SundayStartTime'].touched) || timingForm.controls['SundayStartTime'].dirty"
              class="text-left">
              <small *ngIf="timingForm.controls['SundayStartTime'].errors?.required" class="text-danger">Opening Time
                required!</small>
            </div>
          </div>
          <div class="form-group col-md-4">
            <input type="time" class="form-control" id="itemName" contenteditable="true" formControlName="SundayEndTime"
              maxlength="70"
              [class.is-invalid]="timingForm.controls['SundayEndTime'].invalid && timingForm.controls['SundayEndTime'].touched"
              required>
            <div
              *ngIf="(timingForm.controls['SundayEndTime'].invalid && timingForm.controls['SundayEndTime'].touched) || timingForm.controls['SundayEndTime'].dirty"
              class="text-left">
              <small *ngIf="timingForm.controls['SundayEndTime'].errors?.required" class="text-danger">Closing Time
                required!</small>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal"
        (click)="myLargeModalLabelTimings.hide()">CLOSE</button>
      <button type="button" class="btn btn-primary"
        (click)="setTimingsFunc(); myLargeModalLabelTimings.hide()">SET</button>
    </div>
  </app-ui-modal>