<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Owner Profile" [options]="false">
            <div class="row" *ngIf="ownerData">
                <div class="col-md-2">
                    <div class="feed-user-img text-center">
                        <img src="assets/images/user/avatar-4.jpg" alt="User-Profile-Image" class="img-radius">
                    </div>
                </div>
                <div class="col-md-6">
                    <h5>{{ownerData.OwnerName}}</h5>
                    <p>Restaurant</p>
                    <button type="button" class="btn btn-icon btn-success" [routerLink]="['/owner/owner-edit']">Edit profile
                    </button>
                </div>
                <div class="col-md-4 border-left">
                    <p class="">
                        <strong class="label label-primary">NTN Number / CNIC:</strong> {{ownerData.CNIC ? ownerData.CNIC : ''}}
                    </p>
                    <p class="">
                        <strong class="label label-primary">Location:</strong> {{ownerData.Address ? ownerData.Address : ''}}
                    </p>
                    <p class="">
                        <strong class="label label-primary">Email:</strong> {{ownerData.Email ? ownerData.Email : ''}}
                    </p>
                    <p class="">
                        <strong class="label label-primary">Phone No:</strong> {{ownerData.PhoneNumber ? ownerData.PhoneNumber : ''}}
                    </p>
                </div>
            </div>
        </app-card>
    </div>
    <!-- <div class="col-md-4">
        <app-card cardTitle="Recent Orders Requests" [options]="false">
            <hr>
            <div class="table-responsive">
                <table datatable="" class="table table-hover m-b-0" id="DataTables_Table_0" role="grid"
                    aria-describedby="DataTables_Table_0_info">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Food Item</th>
                            <th>Price</th>
                            <th>Product ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row">
                            <td>
                                1
                            </td>
                            <td>
                                Pizza
                            </td>
                            <td>
                                Rs 444.00
                            </td>
                            <td>
                                665588978
                            </td>
                        </tr>
                        <tr role="row">
                            <td>
                                1
                            </td>
                            <td>
                                Pizza
                            </td>
                            <td>
                                Rs 444.00
                            </td>
                            <td>
                                665588978
                            </td>
                        </tr>
                        <tr role="row">
                            <td>
                                1
                            </td>
                            <td>
                                Pizza
                            </td>
                            <td>
                                Rs 444.00
                            </td>
                            <td>
                                665588978
                            </td>
                        </tr>
                        <tr role="row">
                            <td>
                                1
                            </td>
                            <td>
                                Pizza
                            </td>
                            <td>
                                Rs 444.00
                            </td>
                            <td>
                                665588978
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
    <div class="col-md-8">
        <app-card cardTitle="Weekly Menu" [options]="false">
            <hr>

        </app-card>
    </div> -->

</div>
