<div class="row">
    <div class="col-xl-12">
        <app-card [hidHeader]="true" blockClass="table-border-style">
            <div class="" style="
            display: inline-grid;
        ">
                <!-- <h4 class="float-left">Restaurants</h4> -->
                <h5>Staff Restaurant</h5>
                <button type="button" style="
                right: 30px;
                position: absolute;
            " class="btn btn-icon btn-success float-right" (click)=addStaff()>ADD
                    NEW</button>
                <hr>
            </div>
            <div class="table-responsive">
                <table datatable="" class="table table-striped row-border table-hover dataTable" id="DataTables_Table_0"
                    role="grid" aria-describedby="DataTables_Table_0_info">
                    <tbody>
                        <!-- ........................................................ -->
                        <tr role="row" class="even" *ngFor="let staff of StaffList">
                            <td class="sorting_1">
                                <div class="d-inline-block align-middle">
                                    <!-- <img src="assets/images/user/avatar-3.jpg"
                                        alt="user image" class="img-radius align-top m-r-15" style="width: 40px;"> -->
                                    <img class="app-avatar img-radius align-top m-r-15"
                                        ngxLetterImageAvatar="{{staff.StaffName}}" alt="{{staff.StaffName}}">

                                    <div class="d-inline-block">
                                        <h6 class="m-b-0">{{staff.StaffName}}</h6>
                                        <p class="m-b-0">Contact Number: {{staff.MobileNumber}}</p>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="overlay-edit text-center">
                                    <button type="button" class="btn btn-icon btn-danger circle-btn-icon"
                                        style="cursor: pointer;"
                                        (click)="setDeleteItem(staff.StaffID,staff.StaffName); modalDefault.show()"><i
                                            class="feather icon-trash-2" title="Delete"></i></button>
                                    <!-- <button type="button" class="btn btn-icon btn-info circle-btn-icon" title="Edit"
                                        style="cursor: pointer;" (click)=editStaff()><i
                                            class="feather icon-edit"></i></button> -->
                                    <button type="button" class="btn btn-icon btn-secondary circle-btn-icon"
                                        (click)="viewStaff(staff.StaffID)" title="View Staff details"><i
                                            class="feather icon-eye"></i></button>
                                </div>
                            </td>
                        </tr>
                        <!-- ..................................................................... -->
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>
<app-ui-modal #modalDefault>

    <div class="app-modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
            (click)="modalDefault.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body" *ngFor="let staffdelete of StaffList">
        <ng-container *ngIf="staffdelete.StaffName == itemName">
        <p>Are you sure to delete this Staff?</p>
        <div class="d-inline-block align-middle">
            <!-- <img src="assets/images/user/avatar-4.jpg" alt="user image" class="img-radius align-top m-r-15"
                style="width: 40px;"> -->
            <img  class="app-avatar img-radius align-top m-r-15"
                ngxLetterImageAvatar="{{staffdelete.StaffName}}" alt="{{staffdelete.StaffName}}">
            <div class="d-inline-block">
                <h6 class="m-b-0">{{staffdelete.StaffName}}</h6>
                <p class="m-b-0">Contact Number: {{staffdelete.MobileNumber}}</p>
            </div>
        </div>
    </ng-container>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modalDefault.hide()">Close</button>
        <button type="button" class="btn btn-primary"  (click)="confirmDelete(); modalDefault.hide();">Confirm</button>
    </div>


</app-ui-modal>