<div class="row">
  <!-- order-card start -->
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-blue order-card">
      <h6 class="text-white">Complete Orders</h6>
      <h2 class="text-right text-white"><i class="feather icon-shopping-cart float-left"></i><span class="font-size-20">{{DashboardData.CompletedOrders}}</span></h2>
      <!-- <p class="m-b-0">Completed Orders<span class="float-right">351</span></p> -->
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-yellow order-card">
      <h6 class="text-white">Total Amount</h6>
      <h2 class="text-right text-white"><i class="feather icon-repeat float-left"></i><span class="font-size-20">Rs. {{DashboardData.Amount}}</span></h2>
      <!-- <p class="m-b-0">This Month<span class="float-right">$5,032</span></p> -->
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-green order-card">
      <h6 class="text-white">Total Sales Tax</h6>
      <h2 class="text-right text-white"><i class="feather icon-tag float-left"></i><span class="font-size-20">Rs. {{DashboardData.SalesTax}}</span></h2>
      <!-- <p class="m-b-0">This Month<span class="float-right">213</span></p> -->
    </app-card>
  </div>
 
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-red order-card">
      <h6 class="text-white">Total Reservations</h6>
      <h2 class="text-right text-white"><i class="feather icon-award float-left"></i><span class="font-size-20">{{DashboardData.MonthlyReservationCount}}</span></h2>
      <!-- <p class="m-b-0">This Month<span class="float-right">$542</span></p> -->
    </app-card>
  </div>
  <!-- order-card end -->

  <!-- account-section start -->
  <!-- <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Unique Visitor" [options]="false">
      <app-apex-chart chartID="analytics-unique-visitor-chart" [chartConfig]="this.chartDB.uniqueVisitorAnalytics"></app-apex-chart>
    </app-card>
  </div>
  <div class="col-xl-6 col-md-12">
    <div class="row">
      <div class="col-md-6">
        <app-card [hidHeader]="true">
          <div class="row">
            <div class="col-auto">
              <span>Customers</span>
            </div>
            <div class="col text-right">
              <h2 class="mb-0">826</h2>
              <span class="text-c-green">8.2%<i class="feather icon-trending-up ml-1"></i></span>
            </div>
          </div>
          <app-apex-chart chartID="analytics-customer1-chart" [chartConfig]="this.chartDB.customerAnalytics1"></app-apex-chart>
          <div class="row mt-3">
            <div class="col">
              <h3 class="m-0"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
              <span class="ml-3">New</span>
            </div>
            <div class="col">
              <h3 class="m-0"><i class="fas fa-circle text-primary f-10 m-r-5"></i>182</h3>
              <span class="ml-3">Return</span>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-md-6">
        <app-card [hidHeader]="true" cardClass="bg-primary text-white">
          <div class="row">
            <div class="col-auto">
              <span>Customers</span>
            </div>
            <div class="col text-right">
              <h2 class="mb-0 text-white">826</h2>
              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
            </div>
          </div>
          <app-apex-chart chartID="analytics-customer2-chart" [chartConfig]="this.chartDB.customerAnalytics2"></app-apex-chart>
          <div class="row mt-3">
            <div class="col">
              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>674</h3>
              <span class="ml-3">New</span>
            </div>
            <div class="col">
              <h3 class="m-0 text-white"><i class="fas fa-circle text-white f-10 m-r-5"></i>182</h3>
              <span class="ml-3">Return</span>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div> -->
  <!-- account-section end -->

  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="tab-card">
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-outline-primary mr-2 {{activeClassL}}" (click)=TotalSales()>Sales Amount</button>
          <!-- <button type="submit" class="btn btn-outline-primary mr-2">Weekly</button> -->
          <button type="submit" class="btn btn-outline-primary mr-2 {{activeClassC}}" (click)=TotalOrders()>Orders</button>

        </div>
        <div class="col-md-12">
          <apx-chart [series]="chartDB.series" [chart]="chartDB.chart" [xaxis]="chartDB.xaxis" [title]="chartDB.title">
          </apx-chart>
        </div>
      </div>
    </app-card>
  </div>
</div>
