.color-gray{
   color:#a1a1a1;
   font-size: 12px;
    font-weight: 100;
}
.fa-database{
    background: #f2ecfb;
    padding: 15px;
    border-radius: 50%;
    margin-right: 10px;
    color: #7f4ede;
}
.fa-users{
    background: #edf8ff;
    padding: 15px;
    border-radius: 50%;
    margin-right: 10px;
    color: #34b2fd;
}
.fa-money-bill{
    background: #c2d1da;
    padding: 15px;
    border-radius: 50%;
    margin-right: 10px;
    color: #4f318a;
}
.fa-utensils{
    background: #ffeff2;
    padding: 15px;
    border-radius: 50%;
    margin-right: 10px;
    color: #fc4b7c;
}
.font-size-20{
    font-size: 20px !important;
}